@page "/map"
@inject IJSRuntime JSRuntime

<div id="map" style="width: 100%; height: 500px;"></div>

@code {
    private async Task InitMap()
    {
        await JSRuntime.InvokeVoidAsync("initMap");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InitMap();
        }
    }
}

